
.wrapper {
    padding: 20px;
    margin: 36px auto;
    max-width: 60vw;
    text-align: center;
   
  
}

.dishForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.buttonWrapper {
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

